/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundImage: 'image/Bg_light_01.png';

$mainColor: #000;
$headingColor: #a97024;

$mainFontSize: 32px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #a97024;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

/*********************************************
 * LOGO
 *********************************************/
.reveal:after{
	position: absolute;
	bottom: 30px;
	left: 20px;
	z-index: 30;
	height: 65px;
	width: 200px;
	background: url(image/logo.png) no-repeat;
	background-size: 120px;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

@mixin bodyBackground() {
	@include radial-gradient( rgba(247,242,211,1), rgba(255,255,255,1) );
}